.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  background-image: url('./img/menu-bg.jpg');
  background-repeat: repeat-x;
}

.title {
  margin: 0;
  padding: 20px 30px;
  font-size: 30px;
  color: #ffffff;
  border: none;
}

.icon {
  margin: 30px 20px;
  cursor: pointer;
  fill: #5c4e45;
  &:hover {
    fill: #7e6b5d;
  }
  &:active {
    fill: #ffffff;
  }
}

.button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}
