.list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 125px;
  padding-bottom: 80px;
  background-color: #f3ebdd;
}

.image {
  display: block;
  margin: 0 auto;
}

.item {
  width: 300px;
}

.text {
  padding: 20px;
  font-family: "RobotoSlabRegular";
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  &::after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 70px;
    height: 4px;
    background-color: #a7d338;
  }
}
