.title {
  display: inline-block;
  margin: 45px auto;
  padding: 10px;
  font-family: "RobotoSlabRegular";
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
